# Editor
.vscode/settings.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# secrets
/secrets/**/*.*
!/secrets/**/*.encrypted*
/secrets/instance-keys/oracle-cloud

# Build
/exported-data
/logs
